



body {
  background-color: #333; 
  color: white;
  font-family: Arial, sans-serif;
  text-align: center; 
  margin: 0;
  padding: 0;
}

h2 {
  color: rgb(255, 255, 255);
  margin: 20px;
}
button {
  background-color: rgb(13, 137, 226);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  display: block;
  margin-top: 25px;
 
   
}
li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background-color: #ffffff; 
  border: 1px solid #444; 
  border-radius: 5px; 
  font-size: 15px;

}
section {
  
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.top-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #222; 
}
p{
  padding: 25px;
  background-color: #22222275;
  width: 450px;
  height: 150px;
  line-height: 2;
  align-self: center;
}
  .btn a{
  background-color: transparent;
  border: none;
  color: white;
}