<!DOCTYPE html>
<html>
<head>
    <title>Activity Detector</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        
    </style>
</head>
<body>
        <div class="top-container">

            <h2>Activity Detector</h2>
            
            <ul>
                <li><a href="https://github.com/Codster01" target="_blank">About Me</a></li>
                <li><a href="/contactme" >Contact Me</a></li>
            </ul>
        </div>
 
    
    <section id="about">
    
        <p>Welcome!!! I'm here to help you with activity detection and more.</p>
    </section>

    <section>

    </section>

    <button class="btn"><a href="/predictor"> Get started</a></button>
</body>
</html>
